[submodule "u-boot"]
	path = u-boot
	url = https://github.com/LeMaker/u-boot-bananapi.git
[submodule "sunxi-tools"]
	path = sunxi-tools
	url = https://github.com/LeMaker/sunxi-tools.git
[submodule "sunxi-boards"]
	path = sunxi-boards
	url = https://github.com/LeMaker/sunxi-boards.git
[submodule "linux"]
	path = linux
	url = https://github.com/LeMaker/linux-bananapi.git

[submodule "Appliction/busybox"]
	path = Appliction/busybox
	url = git://busybox.net/busybox.git
[submodule "Application/busybox"]
	path = Application/busybox
	url = git://busybox.net/busybox.git
